<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vartotojai</title>
</head>
<body>
    <h1>Vartotojai</h1>
    <form method="POST">
        <input type="text" name="vartotojai" placeholder="Įveskite vartotoją">
        <button type="submit">Pridėti vartotoją</button>
    </form>
    <ul>
        {% for vartotojas in vartotojai %}
            <li>{{ vartotojai }}</li>
        {% endfor %}
    </ul>
</body>
</html>
